@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
    --eror-color: #FB4952; 
    --message-color: #36B879;
    --dark-dominant-color: #101727;
    --light-dominant-color: #F9F5F5;
    --light-complement-color: #D9D9D9;
    --complement-color: #58596B;
    --light-complement-color: #D9D9D9;
    --accent-color: #7780FF;
    --light-accent-color: #E1E3FF;
    --highlight-color: #222331;
    --highlight-text-color: #EEF0FF;
    --h2: #9D9D9D;
    --h1: #FEFEFE;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
 
.header {
    width: 100%;
    height: 100px;
    background-color: var(--h1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.1));
}

.under__header {
    height: calc(49px + 14px + 14px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.planned {
    min-width: calc(153px + 7px + 7px);
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--complement-color);
    margin: 14px 0 0 29px;
    border-radius: 10px;
    background-color: var(--h1);
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
}

.planned p {
    padding: 0 0 0 7px;
}

.planned p::selection {
    background: transparent;
 }
 .planned p::-moz-selection {
    background: transparent;
 }

.under__header details {
    width: 120px;
    height: 35px;
    margin-right: 29px;
    margin-top: 14px;
    background-color: var(--h1);
    border-radius: 10px;
    border: 1px solid var(--complement-color);
    text-align: center;
    padding-top: 10px;
    color: var(--complement-color);
}

details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

.under__header details summary::selection {
    background: transparent;
 }
 .under__header details summary::-moz-selection {
    background: transparent;
 }


.under__header details summary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500; 
    font-size: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.under__header details summary svg{
    margin-bottom: 2px;
    margin-right: 5px;
    transform: rotate(-90deg);
}

.under__header details[open] {
    height: fit-content;
}

.under__header details[open] summary{
    border-bottom: 1px solid var(--complement-color);
}

.under__header details[open] summary svg{
    transform: rotate(0);
}

.under__header details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.under__header details ul li {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.under__header details ul li::selection {
    background: transparent;
 }
 .under__header details ul li::-moz-selection {
    background: transparent;
 }

.header .input__task {
    border: none;
    width: 600px;
    height: 100px;
    font-size: 30px;
    color: var(--h2);
    padding-left: 31px;
}


.header input:focus {
    border: none;
    outline: 0;
    outline-offset: 0;
    color: var(--highlight-color)
}


input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.15s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.15s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.15s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.15s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.15s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.15s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.15s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.15s ease;}


.header .right-side { 
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 17px;
}

.header .right-side .doublebuttonsback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    width: 39px;
    background-color: var(--light-complement-color);
    border-radius: 95px;
}

.doublebuttonsback div {
    width: 31px;
    height: 31px;
    color: var(--h1);
    border-radius: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition: 0.1s;
}

.doublebuttonsback div svg {
    margin: 0;
    height: 13px;
    width: 13px;
}

.header .right-side .topbutton {
    background-color: var(--dark-dominant-color);
    margin-top: 5px;
}

.topbutton svg {
    padding-left: 2px;
}

.header .right-side .bottombutton {
    background-color: var(--h2);
    margin-bottom: 5px;
}

.playerbutton{
    width: 44px;
    height: 44px;
    border: solid var(--light-accent-color) 6px;
    border-radius: 95px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
}

.playerbutton svg {
    height: 17px;
    width: 17px;
    cursor: pointer;
}

.timer {
    margin-right: 19px;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    color: var(--complement-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#plustimer {
    margin: 5px;
}

#playertimer {
    text-align: center;
    border-radius: 10px;
    border: solid 1px var(--complement-color);
    width: 180px;
    height: 41px;
    padding: 10px 0;
}

.timer input {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
    color: var(--complement-color);
    border: none;
    width: fit-content;
    max-width: 140px;
    min-width: 120px;
    text-align: center;
    padding: 10px 0;
}

.timer input {
    border-radius: 10px;
    border: solid 1px;
    border-color: var(--complement-color);
}

.tagbutton {
    margin-right: 22px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.billable {
    margin-right: 16px;
    font-size: 25px;
    font-weight: 700px;
    color: var(--h2);
    cursor: pointer;
}

@keyframes form-change-to-plus {
    0% {
        flex-direction: column;
    }
    50% {
        margin-bottom: 400px;
    }
    51% {
        flex-direction: column-reverse;
    }
    100% {
        margin-bottom: 100px;
        flex-direction: column-reverse;
    }
}

@keyframes form-change-to-track {
    0% {
        flex-direction: column-reverse;
    }
    50% {
        margin-bottom: 400px;
    }
    51% {
        flex-direction: column;
    }
    100% {
        margin-bottom: 100px;
        flex-direction: column;
    }
}

.forms {
    display: flex;
    align-items: flex-end;
    height: 200px;
    transition: 1s;
    margin-bottom: 100px;
    flex-direction: column;
    margin-right: 23px;
    /* animation: form-change-to-plus 1s ease-in-out forwards; */
}

.plus-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    height: 100px;
}

.track-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    height: 100px;
}

.track-form .timer {
    width: 190px;
}

.track-form .stop-button {
    height: 25px;
    width: 25px;
    background-color: #FF6C6C;
    border-radius: 100px;
    border: 6px #FFD9D9 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.track-form .stop-button div {
    width: 9px;
    height: 9px;
    background-color: var(--h1);
    border-radius: 1px;
}


.billable::selection {
   background: transparent;
}
.billable::-moz-selection {
   background: transparent;
}

.timer::selection {
   background: transparent;
}
.timer::-moz-selection {
   background: transparent;
}

/* 
.playerbutton{
    width: 44px;
    height: 44px;
    border: solid var(--light-accent-color) 6px;
    border-radius: 95px;
    background-color: var(--accent-color);
    margin-right: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerbutton svg {
    height: 20px;
    width: 20px;
    margin-left: 3px;
    cursor: pointer;
} */ 

.hidden {
    display: none;
  }
  
.displaying {
    display: block;
}

.playerbutton:hover .timer input {
    width: fit-content;
}

.daylist {
    width: 1005px;
    height: 624px;
    background-color: var(--h1);
    margin-top: 77px;
    border-radius: 34px;
    box-shadow: 10px 10px 55px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.daylist p {
    width: calc(100% - 51px);
    color: var(--complement-color);
    margin: 16 0 0 51;
    font-weight: 700;
    font-size: 30px;
}

.daylist ul {
    margin-top: 10px;
    width: 937px;
    overflow-y: scroll;
    height: 530px;
    border-top: 2px var(--complement-color) solid;
    list-style: none;
    padding: 0;
}

.daylist ul li {
    margin: 0;
    height: 46px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px var(--h2) solid;
}

.daylist ul li .task_and_tags {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.daylist ul li .task_and_tags h1 {
    font-weight: 300;
    font-size: 25px;
    color: var(--h2);
}

.daylist ul li .task_and_tags h2 {
    font-weight: 100;
    font-size: 15px;
    color: var(--complement-color);
    margin-left: 6px;
}

.daylist ul li .task_info {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.daylist ul li .task_info h1 {
    margin: 0 10px 0 0;
    font-weight: 400;
    font-size: 15px;
    color: var(--h2);
}

.daylist ul li .task_info h2 {
    font-weight: 700;
    font-size: 25px;
    margin: 0 15px 0 0;
    color: var(--complement-color);
}

.dropdown {
    padding: 0 10 0 10;
    display: flex;
}

.dropdown-content {
    margin-left: 10px;
    padding: 2 0 2 0;
    display: none;
    position: absolute;
    width: fit-content;
    min-width: 100px;
    background-color: var(--light-dominant-color);
    border-radius: 5px;
    border: var(--complement-color) 1px solid;
}

.dropdown-content button {
    border: none;
    display: block;
    padding: 5 0 5 0;
    margin: 0;
    text-decoration: none;
    color: var(--eror-color);
    width: 100%;
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
    text-align: center;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content button:hover {background-color: var(--light-complement-color);}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: none; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--h2); 
    background: none;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--complement-color);
    background: none;
}