/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

:root {
    --dark-dominant-color: #101727;
    --light-dominant-color: #F9F5F5;
    --complement-color: #58596B;
    --accent-color: #7780FF;
    --highlight-color: #222331;
    --highlight-text-color: #EEF0FF;
    --h2: #9D9D9D;
    --h1: #FEFEFE;
    --eror-color: #FB4952;
    zoom: 1;
}

@media all and (max-height : 800px) {
    :root {
        zoom: 0.75;
    }
}

@media all and (max-width : 720px) {
    :root {
        zoom: 0.75;
    }
    
    .logo {
        margin-top: 0px;
    }

    .header {
        height: 20%;
    }
}

@media all and (max-width : 500px) {
    :root {
        zoom: 0.5;
    }
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--dark-dominant-color);
    position: fixed;
    overflow: hidden; 
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    flex-direction: column;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%; 
    padding: 0; 
    margin: 0; 
    filter: blur(10px);
    z-index: 0;
}

.header {
    height: 80px;
    z-index: 1;
    font-size: 23px;
    color: var(--h1);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header .logo {
    margin-left: 30px;
    margin-top: 30px;
    width: 25%;
    max-width: 300px;
}

.header .headerref {
    display: flex;
    margin-right: 60px;  
}

.header .headerref img {
    margin-left: 15px ;
}

.header a {
    text-decoration: none;
    color: var(--h1);
}

.content {
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content .form .topform {
    z-index: 5;
    min-width: 621px;
    min-height: 548px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content .form .bottomform {
    margin-top: -464px;
    z-index: 1;
    width: 621px;
    height: 548px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 55px;
    color: var(--dark-dominant-color);
    z-index: 3;
    margin-top: 35px;
}

h2 {
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-top: 38px;
    font-size: 22px;
    color: var(--h2);
    z-index: 3;
}

form {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 486px;
    height: 325px;
}

form h2 {
    padding: 0;
    margin: 0;
    margin-left: 12px;
    margin-top: 38px;
}


input[type="text"] {
    border: 2.21px solid var(--h2);
    border-radius: 15px;
    width: 486px;
    height: 76px;
    margin-top: 6px;
    font-size: 28px;
    padding-left: 12px;
    padding-right: 12px;
    color: var(--highlight-color);
    background-color: var(--h1);
}

input[type="text"]:focus {
    border: 2.21px solid var(--highlight-color);
}

input[type="password"] {
    border: 2.21px solid var(--h2);
    border-radius: 15px;
    width: 486px;
    height: 76px;
    margin-top: 6px;
    font-size: 28px;
    padding-left: 12px;
    padding-right: 12px;
    color: var(--highlight-color);
    background-color: var(--h1);
}

input[type="password"]:focus {
    border: 2.21px solid var(--highlight-color);
}

label h2 {
    margin: 0;
    margin-left: 12px;
}


.check {
    padding: 0;
    margin-top: 21px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.checkinput {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox {
    width: 22px;
    height: 22px;
    padding-left: -10px;
    overflow: hidden;
    border-radius: 7px;
    background-color: var(--h1);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 2.21px solid var(--h2);
    cursor: pointer;
}

.checkinput:checked + .checkbox {
    background-color: var(--accent-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 12 12'%3E%3Cpolyline fill='none' stroke='%23fff' stroke-width='2' points='0.7193333333333333, 3.3326666666666664, 3.3333333333333335, 6.0, 7.224666666666667, 1.3333333333333333'/%3E%3C/svg%3E");;
}

.button {
    margin-bottom: 36px;
    font-size: 28.74px;
    color: var(--light-dominant-color);
    border-radius: 15px;
    width: 486px;
    height: 76px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

h3 {
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 22px;
    color: var(--h2);
    z-index: 0;
    width: 461px;
    text-align: center;
    text-indent: 10px;
    margin-bottom: 32px;
}

.eror {
    color: var(--eror-color);
}
