<!DOCTYPE html>
<meta charset="utf-8" />
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Change</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='img/sidebar/minilogo.svg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/authform.css')}}">
</head>
<body>
    <!--<canvas id="canvas"></canvas>-->
    <div class="header">
      <img src="{{url_for('static', filename='img/Autentification/logo.svg')}}" alt="" class="logo">
    </div>
    <div class="content">
      <div class="form">
        <div class="topform">
          <h1>{{form["title"]}}</h1> 
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <h2 class="{{category}}" style="max-width: 486px; text-align: center;"> {{ message }} </h2>
                {% endfor %}
              {% else %}
                <h2 id="message">{{form["subtitle"]}}</h2>
              {% endif %}
            {% endwith %}
          <form method="POST" id="form">
            {% for i in form["form"] %}
              {% if i[0] == "label" %}
                <h2>{{i[1]}}</h2>
              {% endif %}
              {% if i[0] == "first_label" %}
                <h2 style="margin-top: 0;">{{i[1]}}</h2>
              {% endif %}
              {% if i[0] == "pass_input" %}
                <input type="password" placeholder="{{i[2]}}" name="{{i[1]}}">
              {% endif %}
              {% if i[0] == "text_input" %}
                <input type="text" placeholder="{{i[2]}}" name="{{i[1]}}">
              {% endif %}
              {% if i[0] == "submit" %}
                <input type="submit" class="button" value="{{i[1]}}">
              {% endif %}
              {% if i[0] == "two_btn" %}
                <div class="buttons">
                    {% for btn in i[1] %}
                        {% if btn[0] == "submit_btn" %}
                        <input type="submit" class="button {{btn[0]}}" value="{{btn[1]}}">
                        {% else %}
                            <a href="{{btn[-1]}}"><div class="{{btn[0]}}">{{btn[1]}}</div></a>
                        {% endif %}
                    {% endfor %}
                </div>
              {% endif %}
            {% if i[0] == "check_box" %}
                <label class="check">
                    <input type="checkbox" class="checkinput" name="{{i[1]}}">
                    <span class="checkbox"></span>
                    <h2 id="remembermetext">{{i[2]}}</h2>
                </label>
            {% endif %}
            {% if i[0] == "ref" %}
                <a href="{{i[1]}}">{{i[2]}}</a>
            {% endif %}
            {% endfor %}
          </form>
        </div>
      </div>
    </div>
  </body>
