<div class="flashes" id="messages">
	{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{category}}">
                    <h1>
                        {{ message }}
                    </h1>

                    <!-- <h2>
                        {{ {"message": "!", "error": "×", "success": "☑"}[category] }}
                    </h2> -->
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<script>
    let mess = document.getElementById("messages");
    let c = mess.children;
    let done = false;
    var show = setInterval(function () {
        mess = document.getElementById("messages");
        c = mess.children;
        if (c.length != 0) {
            for (let i = 0; i < c.length; i ++) {
                c[i].style.marginTop = "0px";
            }
            mess.style.marginTop = "0px";
            setTimeout(() => {
                done = true;
            }, 1000); 
        }
    }, 100)
    
    var del_mes = setInterval(function(){
        if (document.getElementById("messages").children.length && done) {
            document.getElementById("messages").children[0].remove()
        }
        if (!document.getElementById("messages").children.length && done) {
            done = false;
        }
    }, 3000);
</script>
