<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% for i in sidebar_components %}
            {% if sidebar_components[i] == current %}
                {{i}}
            {% endif %}
        {% endfor %}
    </title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/sidebar/minilogo.svg')}}">
</head>
<body>
    {% include "main/sidebar.html" %}

    <div class="content" id="content" style="background-image: url({{content}});">
    </div>
</body>
<script>
    document.getElementById('sidebar').onmouseover = function(){
        document.getElementById("content").style.marginLeft = "230px"
    };
    document.getElementById('sidebar').onmouseout = function(){
        document.getElementById("content").style.marginLeft = "50px"
    };
</script>
</html>