<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="logos">
            <img src="{{url_for('static', filename='img/sidebar/minilogo.svg')}}" class="minilogo">
            <img src="{{url_for('static', filename='img/sidebar/logo.svg')}}" class="logo">
        </div>


        <ul>
            {% for i in sidebar_components %}
                {% if sidebar_components[i] == current %}
                    <li class="current">
                        <img src="{{url_for('static', filename='img/sidebar/enable/'+url_for_sidebar_components[sidebar_components[i]])}}" alt="">
                        <a>{{i}}</a>
                    </li>
                    {% else %}
                    <li>
                        <img src="{{url_for('static', filename='img/sidebar/disable/'+url_for_sidebar_components[sidebar_components[i]])}}" alt="">
                        <a href="{{ sidebar_components[i] }}">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        
    </div>

    <div class="content" id="content">
        <img src="{{content}}" alt="">
    </div>
</body>
<script>
    document.getElementById('sidebar').onmouseover = function(){
        document.getElementById("content").style.marginLeft = "230px"
    };
    document.getElementById('sidebar').onmouseout = function(){
        document.getElementById("content").style.marginLeft = "50px"
    };
</script>
</html>